
.accueil_container{
    background-image: url('vergers.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
    float: left;
}
.intro{
    width: 100%;
    font-family: 'Raleway-SemiBold';
    font-size: 2em;
    padding: 3% 0 0 5%;
    color: #70C63F;
}
.titre{
    font-family: 'QUINB___';
    font-size: 3em;
    color: #70C63F;
    padding: 7% 5% 0 0;
    align-self: flex-end;
}
.accueil_choix{
    width: 100%;
    display: flex;
    min-height: 517px;
    align-items: center;
    justify-content: center;
    color: white;
}
.accueil_depot{
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.accueil_search{
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.accueil_search h2{
    height: 50%;
}
.accueil_depot h2{
    margin-top: -30%;
}

h2 {
    font-size: 2em;
    font-family: 'Raleway-SemiBold';
}

.btn_search {
    box-shadow: 1px 1px 12px #555;
    background-color: #FFFFE0;
    padding: 1%;
    text-decoration: none;
}

.accueil_depot div{
    padding: 2%;
}
.align_right{
    text-align: right;
    margin-right: 30%;
}
.align_right div{
    padding: 1%;
}